In [1]:
#in this project, i want to get a table from wikipedia
#so i use webscapping using pandas as its library

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [16]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [17]:
print(f'Total tables: {len(table_MN)}')

Total tables: 29

In [18]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='Election results from statewide races')

In [19]:
len(table_MN)

1

In [20]:
df = table_MN[0]
df.head()

   Year     Office    GOP    DFL Others
0  2020  President  45.3%  52.4%   2.3%
1  2020    Senator  43.5%  48.8%   7.7%
2  2018   Governor  42.4%  53.9%   3.7%
3  2018    Senator  36.2%  60.3%   3.4%
4  2018    Senator  42.4%  53.0%   4.6%

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    26 non-null     int64
 1   Office  26 non-null     object
 2   GOP     26 non-null     object
 3   DFL     26 non-null     object
 4   Others  26 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.1+ KB

In [25]:
df = df.replace({'%': ''}, regex=True)
df[['GOP', 'DFL', 'Others']] = df[['GOP', 'DFL', 'Others']].apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    26 non-null     int64
 1   Office  26 non-null     object
 2   GOP     26 non-null     float64
 3   DFL     26 non-null     float64
 4   Others  26 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.1+ KB

In [9]:
#we want to take only top 3 ballon dor ranking each year
#determine which table we want to take it to our data frame
#in this case, we take atable with title of 'key'
top_3_each_year = pd.read_html('https://en.wikipedia.org/wiki/FIFA_World_Player_of_the_Year', match = 'Wins by country')
len(top_3_each_year)

ValueError: No tables found matching pattern 'Wins by country'

In [ ]:
#take a table with tittle i to our dataframe 
df = top_3_each_year[2]

In [ ]:
print(df)